body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/*Navbar*/
.navbar {
    /* height: 5rem; */
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, 
.f-info-socials,
.f-info-brand
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
/* Cards*/
.card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}
.card-body {
    padding: 0 !important;
}
.card-text p {
    font-size: 400;
    color: #222222 !important;

}
.listing-link {
    text-decoration: none;
    color: #222222;
}

/*card-effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;

}


.imageEdit {
    width: 30%;
    height: 30%;
    
}
.container-sildes {
    display: flex;
    flex-direction: column;
    
}
/*new page*/
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/*Edit page*/
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/*Show page*/
.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*Mobile view*/
/*Navbar*/

    .navbar{
        padding: 10px 15px !important;
    }
    .navbar-brand{
        font-size: 24px;
    }
    .navbar-toggler{
        border: none;
        padding: 5px 8px;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-nav{
        width:100;
    }
    .navbar-nav .nav-link{
        padding: 10px 15px;
    }
    .navbar-nav .ms-auto{
        margin-left: 0 !important;
    }
    /*index page*/
    @media (max-width: 576px) {
    .card-img-top {
        height: 15rem;
    }
}
   
   /*show page*/
    
      /* Show page */

.show-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 576px) {

    .show-img {
        height: 220px;
    }

    .show-card {
        width: 100%;
    }

    .btns {
        display: flex;
        gap: 10px;
        margin-left: 0 !important;
    }
    .edit-btn {
        width: 100%;
    }

    .btns form {
        margin: 0;
    }

    .review-card {
        width: 100%;
        margin-left: 0 !important;
    }
}